*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
    
background: white;
overflow-x:hidden;
}

/* HEADER */

header{
position:fixed;
top:0;
background: linear-gradient(#0E24DE,#0E1DDE4F,#10E70B);
  
width:100%;
display:flex;
justify-content:space-between;
align-items:center;border-radius: 0px 0px 50px 50px;
padding:20px 8%;
backdrop-filter:blur(0px);
z-index:1000;
}

.logo{
color: white;
  text-decoration:underline;
font-size:12px;
font-weight:7000;
}


nav a{
color:white;
width:90%;
padding:12px;
border:3px solid grey;
border-radius:13px;
background:#0D42F466;
text-decoration:none;
margin:10px 0;
transition:0.1s;
}

nav a:hover{
color:#D91BB2;
}

.menu-btn{
display:none;
background: white;
 border-radius: 5px;
 color: black;
font-size:25px;
cursor:pointer;
}

/* HERO */
.hero{
height:50vh;

background:
linear-gradient(#A6C81C17),
url("ivu1.png");
height:580px;
background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:0px;
}

.hero h1{
    color:#0C41F3;
  text-shadow: 1px 3px yellow;
font-size:39px;
margin-bottom:30px;
}

.hero p{
    color:#1DF401;
    text-shadow:0.5px  1.5px blue;
font-size:19px;
margin-bottom:25px;
}

.hero button{
padding:15px 50px;
border:none;
border-radius:70%;
background:#44F401;
color: black;
font-size:18px;
cursor:pointer;
transition:0.5s;
}

.hero button:hover{
transform:scale(1.1);
}

/* SEARCH */

.search{
margin-bottom:40px;background:#07FF2A61;
padding:13px;
width:300px;
border:2px double grey;
border-radius:50px;
outline:none;
}

/* PRODUCTS */

.products{
padding:120px 8%;
text-align:center;
min-height:100vh;
}

.products h2{
font-size:40px;
margin-bottom:40px;
text-shadow:1px 2px yellow;
}

.product-container{
  height:30px;
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
width:320px;
background:#0701F414;
border-radius:30px;
overflow:hidden;
box-shadow:0 5px 0 2px #290CFA;
transition:0.4s;
position:relative;
}

.card:hover{
transform:translateY(-10px);
}

.card img{
width:350px;
height:320px;
object-fit:cover;
}

.card-content{
padding:20px;
height: 170px;
width: 199px;
}

.card h3{
margin-bottom:10px;
}

.card p{
color: green;
font-size:11px;
font-weight:bold;
margin-bottom:15px;
}

.card button{
padding:12px 30px;
border:none;
border-radius:30px;
background:black;
color:white;
cursor:pointer;
transition:0.3s;
}

.card button:hover{
background:#270FD9;
}

.badge{
position:absolute;
top:15px;
left:15px;
background:#270FD9;
color:white;
padding:5px 15px;
border-radius:30px;
font-size:12px;
}

.hot{
background:orange;
}

/* PAGES */

.page{
display:none;
color: #190990;
h3{
    color: #2E09B6;
}
}

.page.active{
display:block;
}

/* DETAILS */

.details-box{
position:fixed;
top:0;
left:0;
width:100%;
height:90%;
background: none;

display:none;

justify-content:center;
align-items:center;

z-index:9999;
}

.details-content{
background:#01A9F8;
padding:20px; 
color: #0A0872;
border-radius:20px;
width:90%;
max-width:450px;
text-align:center;
position:relative;
}

.details-content img{
width:100%;
height:300px;
object-fit:cover;
border-radius:15px;
margin-bottom:20px;
}

.close{
position:absolute;
top:12px;
right:25px;
color:#D30F0F;
text-shadow:2px 0px 1px lime;
font-size:35px;
cursor:pointer;
}
.order-button{
    padding:2px;
    background:lime ;
    border:3px  solid blue;
    font-size:15px;
    border-radius:11px;
    color:#77747F;
}

/* MOBILE */

@media(max-width:768px){

nav{
position:absolute;
border-radius:12px;
top:80px;
left:-250;
right:0;
width:50%;
background:#111;
display:none;
flex-direction:column;
text-align:center;
align-items: center;
padding:2px 0;
}

nav.show{
display:flex;
}

nav a{
padding:10px;
}

.menu-btn{
display:block;
}

.hero h1{
font-size:40px;
}

.products{
padding:120px 5%;
}



}
html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;

}
img{
width:350px;
height:600px;
object-fit:cover;
}
footer{
    left:0;
    bottom:15px;
    position: fixed ;
    align-items: center;
    background: none;
    font-size:20px;

    
}
footer p{
    margin:9px 2px;
}
footer a {
    width:20px;
    text-decoration: none;
    text-shadow:0.09px 0.2px yellow;
    color: white ;
    background:#3A0AE7;
    border:2px double #01FF0C;
    border-radius:0px 10px 10px 0px;
    
}
h4{
    animation: h 4s infinite ;
    bottom:-50px; 
    width:100%;
    position:fixed;
background: none;
text-align: center;
font-size:15px;
}

.menu-btn:active{
    transform: translatey(4px);
}